.app-container{
	position:relative;
	
}
.app-container span{
	position:sticky;
	background-color: red;
}
.scoreBoard{
	background-color:red;
	position:sticky;
}
.starting{
	position:absolute;
	top:20%;
	left:20%;
}
.starting button{
	width:200px;
	height:200px;
	font-size:40px;
	background-color:purple;
	border-radius:50%;
}
.draw-class{
	background-image: url('../images/carlogo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}